<div class="body">
  <header class="header">
    <div class="brand-box">
      <a routerLink="/"><span class="brand"><img src="assets/logo/logo.png" alt="" width="100" height="100"></span></a>
    </div>

    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">Curso de Programação</span>
        <span class="heading-primary-sub">Aprenda aqui um novo mundo</span>
      </h1>
      <a href="#nossos-cursos" class="btn btn-white btn-animated">Conheça nossos cursos</a>
    </div>
  </header>

  <div class="container mt-5 mb-3">
    <h2 class="text-center">O mercado de Programação em números</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card-primary p-3 mb-2">
          <div class="mt-5">
            <h3 class="heading">9 em cada 15</h3>
            <p>Em um relatório do LinkedIn sobre profissões em alta, 9 dos 15 cargos destacados pertenciam à área de
              tecnologia</p>
            <a class="text-dark font-italic" target="_blank"
              href="https://vocesa.abril.com.br/carreira/procuram-se-profissionais-de-tecnologia-da-informacao/">Fonte</a>
            <div class="mt-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-primary p-3 mb-2">
          <div class="mt-5">
            <h3 class="heading">75%</h3>
            <p><b class="font-weight-bolder">75%</b> das pessoas desenvolvedoras buscam aprender novas linguagens e
              frameworks pelo menos uma vez ao ano
            </p>
            <a class="text-dark font-italic" target="_blank"
              href="https://insights.stackoverflow.com/survey/2020">Fonte</a>
            <div class="mt-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-primary p-3 mb-2">
          <div class="mt-5">
            <h3 class="heading">310%</h3>
            <p>O número de vagas na área de tecnologia <b class="font-weight-bolder"> cresceu 310% </b> no último ano
            </p>
            <a class="text-dark font-italic" target="_blank"
              href="https://valorinveste.globo.com/objetivo/empreenda-se/noticia/2021/01/10/mercado-de-tecnologia-tem-aumento-de-310percent-de-vagas-em-2020.ghtml">
              Fonte</a>
            <div class="mt-5">
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="container-fluid bg-cursos">

  <section class="wrapper pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="display-4 text-white" id="nossos-cursos">Nossos Cursos</h1>
          <p class="lead text-white">Conheça aqui todos nossos cursos</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-white card-has-bg click-col"
            style="background-image:url('https://i.imgur.com/0I2iI79.png');">
            <img class="card-img d-none" src="https://i.imgur.com/0I2iI79.png"
              alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" herf="#">JAVA E C#</a></h4>
                <p>Conhecidas por terem um enorme mercado de trabalho, o Java e C# possuem grandes empresas por trás:
                  Oracle e Microsoft, respectivamente. Bancos, corporações e governos vêm adotando essa linguagem de
                  forma ampla devido a sua grande quantidade de bibliotecas e ferramentas.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-white card-has-bg click-col"
            style="background-image:url('https://www.trio.dev/hubfs/Imported_Blog_Media/python_logo.jpg');">
            <img class="card-img d-none" src="https://www.trio.dev/hubfs/Imported_Blog_Media/python_logo.jpg"
              alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" herf="#">Python</a></h4>
                <p>Linguagem que tem ganhado popularidade na área de tecnologia, tanto para desenvolvimento web quanto
                  para Data Science. É conhecida pelos seus famosos frameworks web, como Django e Flask.</p>
              </div>

            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-white card-has-bg click-col"
            style="background-image:url('https://becode.com.br/wp-content/uploads/2017/09/php-post-1.png');">
            <img class="card-img d-none" src="https://becode.com.br/wp-content/uploads/2017/09/php-post-1.png"
              alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <h4 class="card-title mt-0 "><a class="text-white" herf="#">PHP</a></h4>
                <p>Uma das linguagens mais populares do back-end, que vem ganhando força no mercado ao ser utilizada
                  em
                  sistemas e serviços web.</p>
              </div>

            </div>
          </div>
        </div>

      </div>



    </div>
  </section>


</div>
