<div>
  <div class="header-blue overlay mb-5 pb-5">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
      <div class="container"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
            class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <span class="navbar-text ml-auto"> <a routerLink="/login" class="login">Login</a></span><a
            class="btn btn-light action-button" role="button" routerLink="/register">Cadastro</a>
        </div>
      </div>
    </nav>
    <div class="container hero">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
          <h1>Explore esse novo mundo</h1>
          <p>Conheça as tecnologias utilizadas pelas empresas mais inovadoras do mundo, aqui você irá estudar, praticar,
            discutir e mergulhar em uma plataforma que vive de tecnologia.</p><button
            class="btn btn-light btn-lg action-button" type="button" routerLink="/login">Faça seu login</button>
        </div>
        <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 phone-holder">
          <div class="iphone-mockup"><img src="https://i.imgur.com/gMSwtNE.png" class="device">
            <div class="screen"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 pt-5">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>Programação</h1>
            <p>Lógica, Java, Python, C#, .Net, C, C++, jogos, IoT, e mais...</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
            <i class="devicon-codeigniter-plain"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>Web Front-End</h1>
            <p>HTML, CSS, JavaScript, Angular, Vue.js e muito mais...</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">   
            <i class="devicon-codepen-plain"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>Data Science</h1>
            <p>Ciência de dados, BI, SQL e Banco de Dados, NoSQL, Estatística e mais..</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">         
            <i class="devicon-mysql-plain"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
